.heroes-adopt {
    padding-top: 2rem;
    padding-bottom: 6rem;

    &__title {
        margin-bottom: 2rem;
    }
    &__description {
        margin-bottom: 2rem!important;
        & > strong {
            font-family: Poppins-Bold;
        }
    }
    &__columns {
        img {
            width: 240px;
        }
        .card {
            &-title {
                font-family: FjallaOne;
            }
            &-text {
                font-size: small;
            }
        }
    }
}