$color-indigo-darker: 20,14,73;
$color-indigo-light: 58,44,159;
$color-text-blue-dark: 20, 14, 72;
$color-text-blue-light: 58,44,157;
$color-background-primary: 246,94,68;
$color-background-primary-light: 255,179,2;
$color-background-primary-dark: 237,56,51;
$color-background-blue: 57, 44, 160;
$color-background-blue-light: 190, 228, 237;
$color-background-blue-lighter: 181,178,216;
$color-background-blue-dark: 20, 14, 72;
$color-background-blue-darker: 19,15,73;
$color-background-indigo-dark: 57,44,159;
$color-background-orange: 254,133,5;
$typography-family-primary: Poppins;
$typography-family-secondary: FjallaOne;